<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../css/adminPanel.css" type="text/css">


</head>

<body>
    <div class="container">
        <select id="actionSelect">
            <option value="generateQR" selected>Generate QR code</option>
            <option value="ViewAttendance">View Attendance</option>
        </select>

        <div id="GenerateQR">
            <form onsubmit="handleQrCodeGenerateFormSubmit(event)" method="post">
                <h3>Generate QR code:</h3>
                <label for="courseId">Select course:</label>
                <select id="courseId" name="courseId">
                    <option selected>--Select course name--</option>
                    <option value="C1">Course 1</option>
                    <option value="C2">Course 2</option>
                    <option value="C3">Course 3</option>
                    <option value="C4">Course 4</option>
                    <option value="C5">Course 5</option>

                </select><br>

                <label for="section">Select section:</label>
                <select id="section" name="section">
                    <option selected>--Select a section--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br>

                <input class="btn btn-primary" type="submit" value="Generate Code">
            </form>
        </div>

        <div class="hidden" id="ViewAttendance">
            <form onsubmit="handleViewAttendanceFormSubmit(event)" method="get">
                <h3>View attendance for</h3>
                <label for="courseId">Select course:</label>
                <select id="courseId" name="courseId">
                    <option selected>--Select course name--</option>
                    <option selected>--Select course name--</option>
                    <option value="C1">Course 1</option>
                    <option value="C2">Course 2</option>
                    <option value="C3">Course 3</option>
                    <option value="C4">Course 4</option>
                    <option value="C5">Course 5</option>

                </select><br>

                <label for="section">Select section:</label>
                <select id="section" name="section">
                    <option selected>--Select a section--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br>

                <input class="btn btn-primary" type="submit" value="Show Attendance">
            </form>
        </div>

        <form action="/logout" method="POST">
            <button class="logout">Logout</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
<script src="../js/adminPanel.js"></script>


</html>